{:source-paths ["src"]
 :dependencies [[camel-snake-kebab "0.4.1"]]
 :dev-http {8080 "target/"}
 :builds {:npm {:target :node-library
                :output-to "build/rite.js"
                :exports {:findBestMatch rite.core/findBestMatch}}}}
